{% load staticfiles %}
<html>
	<head>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">
	    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	    <title>Blogg ez</title>

	    <!--<link rel="stylesheet" href="{% static 'css/blog.css' %}">-->
	</head>
	<body>

	    <header id="top" class="header">
	        <div class="text-vertical-center">
	            <h1>Tiberiu Tasnadi</h1>
	            <h3>Programador Junior</h3>
	            <br>
								<a href="http://tiberiutasnadi.pythonanywhere.com/" class="btn btn-dark btn-lg">Inici</a>
								<a href="http://tiberiutasnadi.pythonanywhere.com/sobre/" class="btn btn-dark btn-lg">Sobre Jo</a>
								<a href="http://tiberiutasnadi.pythonanywhere.com/contact/" class="btn btn-dark btn-lg">Contacta</a>
	            {% if user.is_authenticated %}
	            	<a href="http://tiberiutasnadi.pythonanywhere.com/post/new/" class="btn btn-dark btn-lg">Nou Post</a>
	            {% endif %}
	        </div>
	    </header>

	    <!-- About -->
	    <section class="contingutt">
	        {% block content %}
	        {% endblock %}
	    </section>
			<div class="container">
				<div class="text-center row align-items-end col-12">
					<h3>Xarxes Socials:</h3>
					<a href="https://www.instagram.com/tibortasnadi/?hl=es"target="_blank"><img class="img-circle float-center" style="	height: 70px;width: 70px; margin:30px;" src="{% static 'img/instagram.png'%}"/></a>
					<a href="https://stackoverflow.com/users/8631741/tiberiu-tasnadi"target="_blank"><img class="img-circle float-right" style="	height: 70px;width: 70px; margin:30px;" src="{% static 'img/stack.png'%}"/></a>
					<a href="https://github.com/TiberiuTasnadi"target="_blank"><img class="img-circle float-left" style="height: 70px;width: 70px; margin:30px;" src="{% static 'img/git_hub.png'%}"/></a>
				</div>
		</div>
	</body>
</html>
